body {
  background-color: #202026;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1px;
}
.crypto-logo-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
.crypto-logo {
  width: auto;
  height: 75px;
  cursor: pointer;
}
.crypto-logo:not(:last-child) {
  margin-right: 50px;
}
.crypto-logo.crypto-logo-clicked,
.crypto-logo.crypto-logo-clicked:hover {
  box-shadow: 0 0 10px 10px green;
}
.crypto-logo:hover {
  box-shadow: 0 0 10px 10px white;
}
.axis,
.domain {
  stroke: #ffffff;
}
.tick line {
    stroke: white;
}
.line {
  clip-path: url(#clip);
}
.dot {
  cursor: pointer
}
.dot--green {
  fill: rgba(0,255,0,.5);
}
.dot--purple {
  fill: rgba(255,0,255,.5);
}
.dot--red {
  fill: rgba(255,0,0,.5);
}
.dot--selected {
  fill: white;
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.hack--list {
  width: 250px;
  text-align: center;
  color: #ffffff;
  flex: 1 0 auto;
  overflow: scroll;
}
.hack--item {
  border: 2px white solid;
  margin: 2px;
}

.hack--item:hover {
  background-color: #48a0c9;
}

.cryptoviz-container {
  display: flex;
  height: 500px;
}