.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  color: #128AF7;
  font-weight: 100;
  letter-spacing: 1px;
}
.crypto-logo-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
.crypto-logo {
  width: auto;
  height: 75px;
}
.crypto-logo:not(:last-child) {
  margin-right: 50px;
}
.crypto-logo:hover {
  box-shadow: 0 0 10px 10px white;
}
.axis,
.domain {
  stroke: #ffffff;
}
.tick line {
    stroke: white;
}
.line {
  /* stroke: #32b23f; */
  clip-path: url(#clip);
}
.dot {
  cursor: pointer
}
.dot--green {
  fill: rgba(0,255,0,.5);
}
.dot--purple {
  fill: rgba(255,0,255,.5);
}
.dot--red {
  fill: rgba(255,0,0,.5);
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.navbar {
  font-family: 'OCR', Arial;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.navbar__item {
  list-style: none;
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              color 0.55s ease;
}

.navbar__item:first-child {
  border-top: 1px solid #FFFFFF;
}

.navbar__item:last-child {
  border-bottom: 1px solid #FFFFFF;
}

.navbar__item:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.navbar__item:hover .navbar__link {
  color: #000000;
}

.navbar__link {
  display: block;
  color: #FFFFFF;
  padding: 1rem;
  text-decoration: none;
}

.navbar__menu {
  border-bottom: 1px solid #FFFFFF;
}

.navbar__menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;  
  z-index: 1;
}