.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
}

.App {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  color: #128AF7;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 0;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

h2 {
  font-weight: 600;
  margin-bottom: 3rem;
}

.navbar {
  font-family: 'OCR', Arial;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.navbar__item {
  list-style: none;
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              color 0.55s ease;
}

.navbar__item:first-child {
  border-top: 1px solid #FFFFFF;
}

.navbar__item:last-child {
  border-bottom: 1px solid #FFFFFF;
}

.navbar__item:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.navbar__item:hover .navbar__link {
  color: #000000;
}

.navbar__link {
  display: block;
  color: #FFFFFF;
  padding: 1rem;
  text-decoration: none;
}

.navbar__menu {
  border-bottom: 1px solid #FFFFFF;
}

.navbar__menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;  
  z-index: 1;
}

.section-container {
  justify-content: center;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  overflow: auto;
}

.section-container--light {
  color: #000000;
  background: #FFFFFF;
}

.section-container--dark {
  color: #FFFFFF;
  background: radial-gradient(#232745, #1B2034);
}

.section {
  line-height: 2;
  max-width: 1000px;
  text-align: left;
  font-weight: 100;
  margin: 1rem;
}

.section--centered {
  text-align: center;
}

.section--viz {
  background: #141C33;
  padding: 3rem;
}